{% extends 'base.html' %}

{% block content %}

<br><br><br>

    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" name="first_name" placeholder="First Name" id="exampleInputEmail1" required>
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" name="last_name" placeholder="Last Name" id="exampleInputEmail1" required>
    </div>

    <div class="mb-3">
      <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" name="email" placeholder="Email Address" id="exampleInputEmail1" required>
    </div>

    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" id="exampleInputPassword1" required>
    </div>

    <div class="mb-3">
      <input type="password" class="form-control" name="password2" placeholder="Confirm Password" id="exampleInputPassword1" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}
